body {
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.header {
    display: flex;
    height: 72px;
    justify-content: space-between;
    background-color: #1F2937;
    padding-bottom: 100px;

}

.headertext {
    font-size: 24px;
    color: #F9FAF8;
}

.headerleft {
    display: flex;
    align-items: center;
    gap: 16px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content:space-between;

  
    
}

.mainpart {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
    background-color: #1F2937;
    gap: 22px;
    
}

.leftmain {
    display: flex;
    text-wrap: wrap;
    width: 500px;
    flex-wrap: wrap;

}

.middlepart {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

}

.middleheading {
    display: flex;
}

.imgbox {
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
    border-radius: 12px;
    display: flex;
    margin-bottom: 10px;

}

.imageboxes {
    display:flex;
    justify-content:space-between;
    gap: 56px;
 
   
}

.item {
    display: flex;
    flex-direction: column;
    width: 100px;
    text-align: center;
}

.quotepart {
    display: flex;
    height: 250px;
    background-color: #E5E7EB;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    padding-bottom: 0;

}

.quotetext {
    display:flex;
    width: 800px;
    font-size: 36px;
    font-style:italic;
    color: #1F2937;
    flex-grow: 1;
    padding-top: 45px;
}

.quoteauthor {
    display: flex;
    font-style: italic;
    flex-grow: 1;
    margin-top: -10px;
    justify-content: right;
    width: 800px;
  
}
.signuppart {
    display:flex;
    flex-grow: 1;
    background-color: #3882F6;
    border-radius: 12px;
    padding: 12px;
    margin-top: 45px;
    margin-bottom: 45px;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.c2atext {
    display:flex;
    flex-direction: column;
}

.signupbottom {
    display: flex;
    border: 3px solid white;
    
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882F6; 
    border-radius: 12px;
    border: none;
    color: #F9FAF8;
    padding: 10px 30px;
    font-weight: bolder;
}

.calltoactionhead {
    font-weight: bold;
    font-size: large;
    color: #E5E7EB;
}

.calltoactionmain {
    color: #E5E7EB;
}

.footer {
    display: flex;
    height: 72px;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    padding-right: 56px;
    
    
}
.logo {
    width: 70px;
    height: 70px;
    padding-left: 56px;
}

.imgmain {
    display: flex;
    width: 450px;
    height: 250px;
}



li {
    text-decoration: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.herotext {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.herosectext {
    font-size: 18px;
    color: #F9FAF8;
}




    